.idea
.DS_Store
.ipynb_checkpoints

exercises/
__pycache__/

# firestore credential
*cred.json

# To Be deleted
python/exemples/test_numpy.py

python/student_exercises/implementations/basic_input_output/

python/student_exercises/corrections/test.py
python/student_exercises/corrections/python_games.py
python/student_exercises/corrections/basic_input_output/
!python/student_exercises/corrections/basics/my_array/
python/student_exercises/corrections/basics/my_dictionaries/
python/student_exercises/corrections/basics/my_lists/
python/student_exercises/corrections/basics/my_lists_comprehensions/
python/student_exercises/corrections/basics/my_tuples/
python/student_exercises/corrections/basics/my_sets/
python/student_exercises/corrections/basics/my_strings/

numpy_pandas/examples/
numpy_pandas/student_exercises/corrections/ML/
numpy_pandas/student_exercises/corrections/numpy/
numpy_pandas/student_exercises/corrections/data_aquisition/web_scrapping/Selenium/

flask/example/firestore/
flask/example/Firestore_posts/
flask/example/flask_login_wtforms/
flask/example/forms/
flask/example/jinja/
flask/example/posts_firestore/

flask/student_exercises/implementations/flask_login_firestore/

flask/student_exercises/corrections/Firestore_posts/
flask/student_exercises/corrections/first_server/
flask/student_exercises/corrections/flask_login_0/
flask/student_exercises/corrections/flask_login_firestore/

rest_api/course/

rest_api/example/books_library/
rest_api/example/todo/

rest_api/student_exercises/corrections/booksAPI/
rest_api/student_exercises/corrections/docker/
rest_api/student_exercises/corrections/todo_dto/
rest_api/student_exercises/corrections/todos/

rest_api/student_exercises/implementations/booksAPI/
rest_api/student_exercises/implementations/todo_dto/
rest_api/student_exercises/implementations/todos/

rest_api/todo_tuto/
rest_api/todos/